@font-face {
    font-family: 'maaxbold';
    src: url('/fonts/maax-bold-webfont.woff2') format('woff2'),
         url('/fonts/maax-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'maaxregular';
    src: url('/fonts/maax-regular-webfont.woff2') format('woff2'),
         url('/fonts/maax-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}