@import "variables";

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
    background: var(--site-bg);    
}

input[name="order"] {
    width: 50px;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}