@import "variables";

body {
  height: 100%;
  width: 100%;
  background: #d9e3db;
}

input[name="order"] {
    width: 50px;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}