.edit-case {
  border: 2px solid #f7f7f7;
  padding: 20px;
  width: 600px;
  margin: 20px auto;
}

.edit-case__hero-group {
  border: 1px solid #2d2d2d;
  padding: 20px;
}
.preview-hero {
  width: 400px;
  height: auto;
}
